<bui-accordion (openChange)="accordionOpen.set($event)" [open]="accordionOpen()" title="Title">Content</bui-accordion>

<bui-lit-button (click)="accordionOpen.set(!accordionOpen())" [text]="'Toggle accordion'"></bui-lit-button>
<hr class="bui-my-4" />
<bui-lit-accordion-group>
  <bui-lit-accordion accordionTitle="Accordion 1">Accordion 1</bui-lit-accordion>
  <bui-lit-accordion accordionTitle="Accordion 2">Accordion 2</bui-lit-accordion>
  <bui-lit-accordion accordionTitle="Accordion 3">Accordion 3</bui-lit-accordion>
</bui-lit-accordion-group>


<router-outlet></router-outlet>

